{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="contact-page-area section-gap">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">

                <!-- PROFILE CARD -->
                <div class="anipat-profile-card">

                    <!-- Profile heading -->
                    <div class="profile-heading text-center">

                        {% if profile_form.instance.image %}
                            <img
                                src="{{ profile_form.instance.image.url }}"
                                class="profile-avatar"
                                alt="Profile"
                            >
                        {% else %}
                            <img
                                src="{% static 'img/default-profile.png' %}"
                                class="profile-avatar"
                                alt="Profile"
                            >
                        {% endif %}

                        <h3>
                            {% if profile_form.instance.first_name %}
                                {{ profile_form.instance.first_name }}
                                {{ profile_form.instance.last_name }}
                            {% else %}
                                My Profile
                            {% endif %}
                        </h3>

                        <p>{{ request.user.email }}</p>

                    </div>


                    <!-- PROFILE INFORMATION -->
                    <div class="profile-section">

                        <h4>Profile Information</h4>
                        <p class="section-description">
                            Update your personal information and profile photo.
                        </p>

                        <form
                            action="{% url 'accounts:profile' %}"
                            method="post"
                            enctype="multipart/form-data"
                        >
                            {% csrf_token %}

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="profile-field">
                                        <label>First Name</label>

                                        <input
                                            name="first_name"
                                            type="text"
                                            class="form-control"
                                            placeholder="First name"
                                            value="{{ profile_form.first_name.value|default_if_none:'' }}"
                                        >

                                        {% for error in profile_form.first_name.errors %}
                                            <small class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="profile-field">
                                        <label>Last Name</label>

                                        <input
                                            name="last_name"
                                            type="text"
                                            class="form-control"
                                            placeholder="Last name"
                                            value="{{ profile_form.last_name.value|default_if_none:'' }}"
                                        >

                                        {% for error in profile_form.last_name.errors %}
                                            <small class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="profile-field">
                                        <label>Email Address</label>

                                        <input
                                            name="email"
                                            type="email"
                                            class="form-control"
                                            placeholder="Email address"
                                            value="{{ user_form.email.value|default:request.user.email }}"
                                        >

                                        {% for error in user_form.email.errors %}
                                            <small class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="profile-field">
                                        <label>Profile Photo</label>

                                        <input
                                            name="image"
                                            type="file"
                                            class="form-control profile-file"
                                        >

                                        {% for error in profile_form.image.errors %}
                                            <small class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>


                            <button
                                type="submit"
                                name="save_profile"
                                class="profile-btn"
                            >
                                Save Changes
                            </button>

                        </form>

                    </div>


                    <div class="profile-divider"></div>


                    <!-- PASSWORD -->
                    <div class="profile-section">

                        <h4>Change Password</h4>

                        <p class="section-description">
                            Use your current password to set a new password.
                        </p>

                        <form
                            action="{% url 'accounts:profile' %}"
                            method="post"
                        >
                            {% csrf_token %}

                            <div class="profile-field">
                                <label>Current Password</label>

                                <input
                                    name="current_password"
                                    type="password"
                                    class="form-control"
                                    placeholder="Enter your current password"
                                >

                                {% for error in password_form.current_password.errors %}
                                    <small class="text-danger">
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="profile-field">
                                        <label>New Password</label>

                                        <input
                                            name="new_password1"
                                            type="password"
                                            class="form-control"
                                            placeholder="New password"
                                        >

                                        {% for error in password_form.new_password1.errors %}
                                            <small class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="profile-field">
                                        <label>Confirm Password</label>

                                        <input
                                            name="new_password2"
                                            type="password"
                                            class="form-control"
                                            placeholder="Confirm password"
                                        >

                                        {% for error in password_form.new_password2.errors %}
                                            <small class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>


                            <button
                                type="submit"
                                name="change_password"
                                class="profile-btn profile-btn-outline"
                            >
                                Change Password
                            </button>

                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>


{% endblock %}