{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        
                    {% for post in posts %}

                        <article class="blog_item">
                            <div class="blog_item_img">
                                {% if post.image %}
                                <img class="card-img rounded-0" src="{{post.image.url}}" alt="">
                                {% endif %}
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'blog:post-detail' post.pk %}">
                    
                                    <small>{{post.author.first_name}} {{post.author.last_name}} - {{post.published_date|date:"M d Y"}} | {{post.views}} views</small>
                                    <h2>{{post.title}}</h2>
                                </a>
                                <p>{{post.content|truncatewords:20}}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> {{ post.comments.count }} Comments</a></li>
                                    {% if request.user.is_authenticated and post.author.user_id  == request.user.id %}
                                        <li><a href="{% url 'blog:post-edit' post.pk %}"><i class="fa fa-pencil"></i>Edit Post</a></li>
                                        <li><a href="{% url 'blog:post-delete' post.pk %}"><i class="fa fa-remove"></i>Delete Post</a></li>
                                    {% endif %}


                                </ul>
                            </div>
                        </article>
                    {% empty %}
                        <li>No posts available.</li>
                {% endfor %}

                        

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">

                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% for number in page_obj.paginator.page_range %}
                                <li class="page-item {% if number == page_obj.number %}active{% endif %}">
                                     <a href="?page={{ number }}" class="page-link">
                                    {{ number }}
                                     </a>
                                </li>
                                {% endfor %}

                                {% if page_obj.has_next %}

                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                {% if request.user.is_authenticated and perms.blog.add_post %}
                        <div class="row mb-4">
                            <div class="col-12 text-right">
                                <a href="{% url 'blog:post-create' %}"
                                class="boxed-btn">
                                    <i class="fa fa-plus"></i>
                                    Create Post
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="{% url 'blog:search' %}" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            name="q"
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'"
                                            value="{{ query }}">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        {% include 'blog/category.html' %}

                        {% include 'blog/popular-posts.html' %}

                        {% include 'blog/tag-cloud.html' %}


                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
    <!--================Blog Area =================-->
